*.iml
.idea/

.DS_Store
**/.DS_Store

*/*/dist

target
*/target
*/*/target

.settings
*/.settings
*/*/.settings

.classpath
*/.classpath
*/*.classpath

.project
*/.project
*/*/.project

*/*.bak
*/*/*/*.bak

**/*.epoch

**/bin

**/*.lck
*.lck

**/*.log
*.log

**/output

**/test-output
